<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>404 - Page Not Found</title>
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% include 'partials/_header.html' %}
    <div class="container mx-auto px-4 mt-8 min-h-screen flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-6xl font-bold text-gray-800 mb-4">404</h1>
        <p class="text-xl text-gray-600 mb-8">Oops! The page you're looking for doesn't exist.</p>
        <a href="/" class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600">Go back to Home</a>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>